
.env
k3s.json
csi-s3-secret.yaml
cloudflared-deployment.yaml
redis.json
k8s/.docker-registry-data/docker/registry/v2/blobs/
k8s/.docker-registry-data/docker/registry/v2/repositories/
k8s/.docker-registry-data/scheduler-state.json
venv/
metal/roles/pxe_server/files/data/os/
